
body {
  font-size: 1 rem;
  margin: 0;
}

main {
  grid-template-columns: 130px 420px 255px;
  display: grid;
  width: 805px;
  margin: 90px auto 0 auto;
}

main div#foto {
}
main div#foto img {
  width: 340px;
  margin: 0 auto;
  display: block;
}
section {
  padding-top: 205px;
}
#number {
  color: e5e5e5;
}
#quote {
  padding-top: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
#author {
  padding-top: 15px;
  color: #b2b2b2;
  font-family: Arial, Helvetica, sans-serif;
}
#year {
  color: #b2b2b2;
  font-family: monospace;
}
#copyright {
  padding-top: 50%;
  color: #b2b2b2;
}
#hashtag {
  color: #b2b2b2;
  font-family: serif;
}
#logo img {
  margin-top: 235px;
}
